<form>
    <div class="form-group row">
        <label for="exampleFormControlFile1">Example file input</label>

    </div>
    <div class="form-group">
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Título do anime">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Quantidade de Episodios</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ex: 12">
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Upload
    </button>
</form>